html, body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 0 5%;
}

.container-fluid {
  width: 100%;
  max-width: 1900px;
  min-width: 390px;
  display: flex;
  flex-direction: column;
  background-color: #111111;
  color: aliceblue;
}

/* CUSTOM STYLES PRIME */

.slick-dots li.slick-active button:before, .slick-dots li button:before {
  color: white !important; 
}

.bg-black-custom {
  background-color: #111111 !important
}

.bg-yellow-custom {
  background-color: #FADE4B !important;
}

.p-button {
  border: solid 2px #FADE4B
}

.p-badge {
  color: white;
  background-color: black;

}

.p-avatar.p-avatar-circle img{
  object-fit: cover;
  object-position: top;
}

.p-card .p-card-content{
  padding: 0
}

.p-card .p-card-body{
  padding: 1rem;
}

.img-fit{
  object-fit: cover;
  object-position: top;
}

